@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Montserrat:wght@300;400&display=swap');


    .section-description{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        &-contain{
            width: 100%;
            height: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-family: 'Crimson Pro', serif;
                color: white;
                font-weight: 300;
                font-size: 22px;
            }
            
            h3{
                font-family: 'Montserrat', sans-serif;
                width: 100%;
                font-size: 32px;
                color: rgba(92, 92, 92, 0.966);
                font-weight: 800;
                margin-top: 3rem;
            }
                &__descriptText{
                    margin-bottom: 4rem;
                }
                &__divContainerImg{
                    display: flex;
                    width: 100vw;
                    height: calc(120vw - -98px);
                    position: relative;
                    justify-content: space-between;
                        div{
                            height: 30vw;
                        }
                        &-divMascota{
                            width: 50vw;
                            display: flex;
                            position: absolute;
                            justify-content: flex-end;
                            right: 0;
                            top: 23vw;
                        }
                        &-divPerson{
                            width: 50vw;
                            display: flex;
                            justify-content: flex-start;
                            position: absolute;
                            right: 0;
                            top: 64vw;
                            transform: translate(0px, 0px);
                            
                        }
                        &-divWebsite{
                            object-fit: fill;
                            width: 65vw;
                            display: flex;
                            justify-content: flex-start;
                        }
                        &-divStudy{
                            width: 65vw;
                            display: flex;
                            position: absolute;
                            justify-content: flex-start;
                            right: 0;
                            left: 0;
                            top: 45vw;
                            object-fit: cover;
                        }
                }
        }
    }
