<section  class="section-description">
    <div class="section-description-contain">
        <h3 class="pl-4">Sobre mi</h3>
        <div class="pl-4 section-description-contain__descriptText w-full">
            <p>Estudie en Argentina Programa y soy Full Stack Developer. </p>
            <p>Soy una persona responsable, activa y con mucha motivacion en aprender.</p>
            <p>Mis pasiones son desarrollar pensando en el futuro y buscando soluciones innovadoras para los desafíos que se me presentan.</p>
        </div>
        <div #divContainerImg class="section-description-contain__divContainerImg">
            <div #ContImg class="section-description-contain__divContainerImg-divWebsite">
                <img class="h-full w-full" src="../../../assets/wbesite.jpg" alt="">
            </div>
            <div class="section-description-contain__divContainerImg-divMascota">
                <img class="h-full w-full" src="../../../assets/mascota.jpeg" alt="">
            </div>
            <div class="section-description-contain__divContainerImg-divStudy">
                <img class="h-full w-full" src="../../../assets/learning-education.jpg" alt="">
            </div>
            <div class="section-description-contain__divContainerImg-divPerson">
                <img class="h-full w-full" src="../../../assets/person.jpeg" alt="">
            </div>
        </div>

    </div>
</section>
