@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

    .section-description{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-contain{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-family: 'Montserrat', sans-serif;
                color: white;
                font-weight: 500;
            }
            
            h3{
                font-family: 'Montserrat', sans-serif;
                width: 100%;
                font-size: 22px;
                color: rgba(92, 92, 92, 0.966);
                font-weight: 800;
            }
                &__descriptText{
                    margin-bottom: 2rem;
                }
                &__divContainerImg{
                    display: flex;
                    width: 100vw;
                    height: 60vh;
                    position: relative;
                        div{
                            height: 35vw;
                            position: absolute;
                        }
                        &-divMascota{
                            width: 45vw;
                            background-image: url('../../../assets/mascota.jpeg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: bottom left;
                            top: 20vw;
                            right:0;
                        }
                        &-divWebsite{
                            object-fit: fill;
                            width: 60vw;
                            left: 0;
                            top: 0%;
                        }
                        &-divStudy{
                            width: 60vw;
                            object-fit: cover;
                            top: 43vw;
                            left: 0rem;
                        }
                        &-divPerson{
                            width: 45vw;
                            background-color: red;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: bottom left;
                            top: 63vw;
                            right: 0;
                        }
                }
        }
    }
    
    @media screen and (min-width:500px) {
        .section-description{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &-contain{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-family: 'Montserrat', sans-serif;
                    color: white;
                    font-weight: 500;
                }
                h3{
                    font-family: 'Montserrat', sans-serif;
                    width: 100%;
                    font-size: 22px;
                    color: rgba(92, 92, 92, 0.966);
                    font-weight: 800;
                }
                    &__divContainerImg{
                        display: flex;
                        width: 100vw;
                        height: 80vh;
                        position: relative;
                            div{
                                height: 35vw;
                                position: absolute;
                            }
                            &-divMascota{
                                width: 45vw;
                                background-image: url('../../../assets/mascota.jpeg');
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: bottom left;
                                top: 20vw;
                                right:0;
                            }
                            &-divWebsite{
                                object-fit: fill;
                                width: 60vw;
                                left: 0;
                                top: 0%;
                            }
                            &-divStudy{
                                width: 60vw;
                                object-fit: cover;
                                top: 43vw;
                                left: 0rem;
                            }
                            &-divPerson{
                                width: 45vw;
                                background-color: red;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: bottom left;
                                top: 63vw;
                                right: 0;
                            }
                    }
            }
        }
    }
    @media screen and (min-width:640px){
        .section-description{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &-contain{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-family: 'Montserrat', sans-serif;
                    color: white;
                    font-weight: 500;
                }
                h3{
                    font-family: 'Montserrat', sans-serif;
                    width: 100%;
                    font-size: 22px;
                    color: rgba(92, 92, 92, 0.966);
                    font-weight: 800;
                }
                    &__divContainerImg{
                        display: flex;
                        width: 560px;
                        height: 40rem;
                        position: relative;
                            div{
                                height: 15rem;
                                position: absolute;
                            }
                            &-divMascota{
                                width: 15rem;
                                background-image: url('../../../assets/mascota.jpeg');
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: bottom left;
                                top: 116px;
                                left: 20rem;
                            }
                            &-divWebsite{
                                object-fit: fill;
                                width: 22rem;
                                left: 0;
                                top: 0%;
                            }
                            &-divStudy{
                                width: 22rem;
                                object-fit: cover;
                                top: 266px;
                                left: 0rem;
                            }
                            &-divPerson{
                                width: 15rem;
                                background-color: red;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: bottom left;
                                bottom: 0;
                                left: 20rem;
                                top: unset;
                                right: unset;
                            }
                    }
            }
        }
    }
    
    
    
    