<section class="section-description">
    <div class="section-description-contain">
        <h3>About me</h3>
        <div class="section-description-contain__descriptText w-full">
            <p>Soy un Full Stack Web Developer con 7 meses de experiencia </p>
            <p>Estudiando Analista Programador Universitario 2do año de carrera</p>
        </div>
        <!-- <div #divContainerImg class="section-description-contain__divContainerImg" [ngStyle]=" { 'height': mHeight ? 100 + 'px' : null } "> -->
        <div #divContainerImg class="section-description-contain__divContainerImg">
            <div #ContImg class="section-description-contain__divContainerImg-divWebsite">
                <img class="h-full w-full" src="../../../assets/wbesite.jpg" alt="">
            </div>
            <div class="section-description-contain__divContainerImg-divMascota">
                <img class="h-full w-full" src="../../../assets/mascota.jpeg" alt="">
            </div>
            <div class="section-description-contain__divContainerImg-divStudy">
                <img class="h-full w-full" src="../../../assets/learning-education.jpg" alt="">
            </div>
            <div class="section-description-contain__divContainerImg-divPerson">
                <img class="h-full w-full" src="../../../assets/person.jpeg" alt="">
            </div>
        </div>

    </div>
</section>
