<section class="section-description">
    <div class="section-description-contain">
        <h3>About me</h3>
        <div class="section-description-contain__descriptText w-full">
            <p>Soy un Full Stack Web Developer con 7 meses de experiencia </p>
            <p>Estudiando Analista Programador Universitario 2do año de carrera</p>
        </div>
        <div class="section-description-contain__divContainerImg">
            <div class="section-description-contain__divContainerImg-divWebsite">
                <img class="h-full w-full" src="../../../assets/wbesite.jpg" alt="">
            </div>
            <div class="section-description-contain__divContainerImg-divMascota"></div>
            <div class="section-description-contain__divContainerImg-divStudy">
                <img class="h-full w-full" src="../../../assets/learning-education.jpg" alt="">
            </div>
            <div class="section-description-contain__divContainerImg-divPerson"></div>
        </div>

    </div>
</section>
