
    <!-- <app-header></app-header> -->
    <swiper #swiper
    [config]="config"
    (slideChange)="onSlideChange()">
        <ng-template swiperSlide > 
            <app-porfolio-data [swiperPageCero]="swiperPageCero" ></app-porfolio-data>
        </ng-template>
        <ng-template swiperSlide >
            <app-porfolio-description></app-porfolio-description>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-service (next)='ThisNext()'></app-porfolio-service>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-proyects></app-porfolio-proyects>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-contact></app-porfolio-contact>
        </ng-template>
    </swiper>

    
    <!-- <swiper #swiper [config]="config"
    (slideChange)="onSlideChange()">
        <ng-template swiperSlide  > 
            <div class="h-full">
                <p class=" text-red-300">Comodoro</p>
            </div>
        </ng-template>
        <ng-template swiperSlide >
            <div class="h-full">
                <p>Comodoro</p>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="h-full">
                <p>Comodoro</p>
            </div>
        </ng-template>
    </swiper> -->

    
    