
    <app-spinner></app-spinner>
    <app-header [login]="login" (indexPage)="changeIndexPage($event)" ></app-header>
    <swiper #swiper
    [config]="config"
    (slideChange)="onSlideChange()"
    >
    
        <ng-template swiperSlide > 
        <app-porfolio-data [AcountAdmin]="login" ></app-porfolio-data>
        </ng-template>
        <ng-template swiperSlide >
            <app-porfolio-description ></app-porfolio-description>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-service (next)='ThisNext()'></app-porfolio-service>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-proyects></app-porfolio-proyects>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-contact [AcountAdmin]="login"></app-porfolio-contact>
        </ng-template>
    </swiper>

    
    