
    <!-- <app-header></app-header> -->
    <swiper #swiper
    [config]="config"
    (slideChange)="onSlideChange()"
    >
        <ng-template swiperSlide > 
            <app-porfolio-data></app-porfolio-data>
        </ng-template>
        <ng-template swiperSlide >
            <app-porfolio-description></app-porfolio-description>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-service (next)='ThisNext()'></app-porfolio-service>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-proyects></app-porfolio-proyects>
        </ng-template>
        <ng-template swiperSlide>
            <app-porfolio-contact></app-porfolio-contact>
        </ng-template>
    </swiper>


    
    