header{
    z-index: 3;
    position: absolute;
    height: 4rem;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    .nav{
        color: whitesmoke;
        display: flex;
        gap: 10vw;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:760px) {
            position: relative;
            justify-content: end;
        }
        &-pages{
            display: flex;
            gap: 20px;
            a{
                padding: 1rem 2vw;
                height: max-content;
                min-width: max-content;
            }
            @media screen and (max-width:760px) {
                display: none;
            }
        }
        &-languages{
            display: flex;
            gap: 5px;
            p{
                padding:1rem 0.5rem;
            }
            @media screen and (max-width:760px) {
                display: none;
            }
        }
        &-movilBar{
            display: none;
            position: relative;
            @media screen and(max-width:760px) {
                display: block;
                padding: 1rem;
            }
            fa-icon{
                transition: color 0.5s ease;
            }
        }
        &-dropdown{
            background-color: black;
            position: absolute;
            overflow: hidden;
            top:0;
            max-height: 0px;
            height: 100vh;
            width: 100vw;
            right:0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: max-height 0.5s ease;
            p{
                padding: 1rem;
                font-size: 2rem;
                cursor: pointer;
            }
            p:hover{
                color: rgb(6, 98, 202);
                font-weight: 600;
            }
            &__languages{
                display: flex;
                gap: 5px;
                font-size: 1.5rem;
            }
            .iconCrossDropdown{
                position:absolute;
                top: 0;
                right: 0;
                color:red;
                font-size: 2rem;
                padding: .5rem 1rem;
            }
        }
        .openDropDown{
            max-height: calc(0px + 100vh);
            transition: max-height 1s ease;
        }
        .iconDropdown{
            color: rgb(47, 47, 252);
            transition: color 0.5s ease;
        }
    }

}