<swiper #swiper
    [config]="config"
    
    (slideChange)="changeProyectSlide()"
    >
        <ng-template swiperSlide class="swiperSlideProyectOne"> 
        <div class="w-[95%]">
            <div class="h-[90vh] w-full max-h-[90vh]">
                <img class="object-scale-down h-full w-full" src="../../../assets/proyectCoffe.png" alt="">
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide >
            <div class="h-full w-full flex items-end">
                <img class="object-scale-down h-[95%] w-full" src="../../../assets/BookFlixProyect.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide > 
            <div class="h-full w-full flex items-end">
                <img class="object-fill h-[95%] w-full" *ngIf="sizeDisplay==='web' && !conditionWebNarutoSize()" src="../../../assets/narutoProyect.png" alt="">
                <img class="object-fill h-[95%] w-full" *ngIf="sizeDisplay==='phone'" src="../../../assets/narutoProyect-2.png" alt="">
                <img class="object-fill h-[95%] w-full" *ngIf="sizeDisplay==='web' && conditionWebNarutoSize()" src="../../../assets/narutoProyect-3.png" alt="">
                <!-- <img class="object-fill h-[95%] w-full" src="../../../assets/narutoProyect-1.png" alt=""> -->
            </div>
        </ng-template>
        <ng-template swiperSlide > 
            <div class="h-full w-full flex items-end">
                <img class="object-fill h-[95%] w-[100%]" *ngIf="sizeDisplay==='phone'" src="../../../assets/shiplandProyect-1.png" alt="">
                <img class="object-fill h-[95%] w-[50%]" *ngIf="sizeDisplay!=='phone'" src="../../../assets/shiplandProyect-1.png" alt="">
                <img class="object-fill h-[95%] w-[50%]" *ngIf="sizeDisplay!=='phone'" src="../../../assets/shiplandProyect-2.png" alt="">
            </div>
        </ng-template>
</swiper>
    <div #backProyect class="swiper-buttonCustom-back swiper-button-hidden cursor-pointer" (click)="back()">
        <fa-icon [icon]="changeViewIconI" ></fa-icon>
    </div>
    <div #nextProyect class="swiper-buttonCustom-next cursor-pointer" (click)="next()">
        <fa-icon [icon]="changeViewIconR" ></fa-icon>
    </div>
    <div class="titleProyect">
        <h2 #nameProyects class="swiperSlideCoffeH2 cursor-pointer" (click)="redirectPage()">{{nameProyectI}}</h2>
    </div>
