@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

    section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 3rem;
    }
    
        .section-service-contain{
            user-select: none;
            width: 100%;
            height: 70%;
            min-height: 580px;
            max-height: 43rem;
            min-width: 285px;
            max-width: 400px;
            p{
                font-size: 24px;
                display: flex;
                align-items: center;
            }
            div img{
                height: 100%;
                width: 200px;
            }
            &-h2{
                width: 100%;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 1.5em;
                font-size: 22px;
                color: rgba(92, 92, 92, 0.966);
                font-weight: 800;
                @media screen and(max-width:400px) {
                    padding-left: 0.4rem;
                }
            }
            &__divDevelop{
                display: grid;
                grid-template-columns: 50% 50%;
                height: 10.5rem;
                width: 100%;
                justify-items: center;
                div{
                    display: flex;
                    justify-content: flex-end;
                }
            }
            &__divProgram{
                height: 10.5rem;
                width: 100%;
                /* min-width: 200px; */
                display: grid;
                grid-template-columns: 50% 50%;
                justify-items: center;
                div{
                    grid-row: 1;
                }
            }
            &__divStack{
                height: 10.5rem;
                width: 100%;
                justify-items: center;
                display: grid;
                grid-template-columns: 50% 50%;
                div{
                    display: flex;
                    justify-content: end;
                }
            }
        }
        .section-service-proyectShow{
            display: flex;
            user-select: none;
            justify-content: center;
            width: 100vw;
            gap: 1rem;
            font-size: 20px;
            font-weight: 400;
            min-width: 218px;
            align-items: center;
            margin-top:2rem;
            h2{ 
                font-family: 'Montserrat', sans-serif; 
            }
            fa-icon{
                color: rgb(0, 182, 182);
                transform: rotate(332deg);
                font-size: 32px;
            }
        }

        @media screen and (min-width:420px) {
            .section-service-contain{
                width: 100%;
                height: 70%;
                min-height: 580px;
                max-height: 43rem;
                min-width: 399px;
                max-width: 400px;
                p{
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                }
                div img{
                    height: 100%;
                    width: 200px;
                }
                &-h2{
                    width: 100%;
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: 1.5em;
                    font-size: 22px;
                    color: rgba(92, 92, 92, 0.966);
                    font-weight: 800;
                }
                &__divDevelop{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    height: 10.5rem;
                    width: 100%;
                    justify-items: center;
                    div{
                        min-width: 200px;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                &__divProgram{
                    height: 10.5rem;
                    width: 100%;
                    /* min-width: 200px; */
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    justify-items: center;
                    div{
                        grid-row: 1;
                        min-width: 200px;
                    }
                }
                &__divStack{
                    height: 10.5rem;
                    width: 100%;
                    justify-items: center;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    div{
                        display: flex;
                        justify-content: end;
                        min-width: 200px;
                    }
                }
            }
            .section-service-proyectShow{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                gap: 1rem;
                margin-top:2rem;
                font-size: 32px;
                font-weight: 400;
                min-width: 327px;
                h2{ 
                    font-family: 'Montserrat', sans-serif; 
                }
                fa-icon{
                    color: rgb(0, 182, 182);
                    transform: rotate(332deg);
                    font-size: 45px;
                }
            }
        }
        @media screen and (max-height:600px) {
            section{
                justify-content: start;
            }
        }
        @media screen and (min-width:640px) {
            .section-service-contain{
                width: 100%;
                // height: 70%;
                height: calc(33px + (23vh*3));
                min-height: 454px;
                max-height: 43rem;
                max-width: 807px;
                p{
                    font-size: 52px;
                    padding-right: 4rem;
                    display: flex;
                    align-items: center;
                }
                div img{
                    height: 100%;
                    width: 100%;
                }
                &-h2{
                    width: 100%;
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: 1.5em;
                    font-size: 22px;
                    color: rgba(92, 92, 92, 0.966);
                    font-weight: 800;
                }
                &__divDevelop{
                    display: flex;
                    height: 25vh;
                    min-height: 153px;
                    width: 100%;
                    min-width: 508px;
                    div{
                        min-width: 200px;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                &__divProgram{
                    height: 25vh;
                    min-height: 153px;
                    width: 100%;
                    min-width: 508px;
                    display: flex;
                    transform: translate(0px, -40px);
                    p{
                        padding-left: 4rem;
                        padding-right: 0;
                    }
                    div{
                        min-width: 200px;
                    }
                }
                &__divStack{
                    height: 25vh;
                    min-height: 153px;
                    width: 100%;
                    min-width: 508px;
                    display: flex;
                    transform: translate(0px, -80px);
                    div{
                        display: flex;
                        justify-content: end;
                        min-width: 200px;
                    }
                }
            }
            .section-service-proyectShow{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                margin-top:0.5rem;
                gap: 1rem;
                font-size: 32px;
                font-weight: 400;
                min-width: 327px;
                h2{ 
                    font-family: 'Montserrat', sans-serif; 
                }
                fa-icon{
                    color: rgb(0, 182, 182);
                    transform: rotate(332deg);
                    font-size: 45px;
                }
            }
        }