
    <section>
        <div class="section-service-contain">
            <div class="section-service-contain-h2">
                <h2 class="mb-5 self-start">servicio</h2>
            </div>
            <div class="section-service-contain__divDevelop">
                <p>Developer</p>
                <div class="h-full w-full">
                    <img loading="lazy" src="../../../assets/developer.jpg" alt="">
                </div>
            </div>
            <div class="flex-row-reverse section-service-contain__divProgram">
                <p>Full</p>
                <div class="h-full w-full">
                    <img loading="lazy" src="../../../assets/programming.jpg" alt="">
                </div>
            </div>
            <div class="section-service-contain__divStack">
                <p>Stack</p>
                <div class="h-full w-full">
                    <img loading="lazy" src="../../../assets/stack.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="section-service-proyectShow">
            <h2 (click)="ThisNext()">proyectos</h2>
            <fa-icon [icon]="IconArrowRightDown" (click)="ThisNext()"></fa-icon>
        </div>
    </section>
