<footer [ngStyle]="{'margin-bottom': pixelBottom + 'px' }">
    <div class="copyright">
        <p>COPYRIGHT <fa-icon [icon]="iCopyRight"></fa-icon> Stein ivan portfolio 2022. all rights reserved</p>
    </div>
    <div class="socialIcon">
        <a href="https://www.instagram.com/ivan_steinn/" target="_blank"><img src="../../../assets/icon/icons-instagram.png" alt="instagram"></a>
        <a href="https://www.linkedin.com/in/ivan-stein-979757208/" target="_blank"><img src="../../../assets/icon/icons-linkedin.png" alt="instagram"></a>
        <a href="https://github.com/steinivan" target="_blank"><img src="../../../assets/icon/icons8-github-24.png" alt="gitHub"></a>
        <a class="iconEmail" href="mailto:ivanuniversidad2020@outlook.com"><fa-icon [icon]="iEmail"></fa-icon></a>
    </div>
</footer>
