@tailwind base;
@tailwind components;
@tailwind utilities;
img{
    pointer-events: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinnerInter{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000009e;
  }

  img{
    content-visibility: auto;
  }