<section class="section-presentation">
    <button class="absolute top-0 right-0 bg-neutral-500 z-50" (click)="info()">info</button>
    <div class="section-presentation-contain">
        <video autoplay loop poster="../../../assets/videoImgCode.png" class="section-presentation-contain__video" oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../../assets/codeVideo.mov" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="section-presentation-contain__header">
            <figure class="section-presentation-contain__header-figure" >
                <p>{{ '{' }}S</p>
                <span>:</span>
                <p>I{{ '}' }}</p>
            </figure>
            <div class="section-presentation-contain__header-description">
                <div class="section-presentation-contain__header-description-name">
                    <p> Stein </p>
                    <p> Ivan </p>
                </div>
                <div class="section-presentation-contain__header-description-occupation">
                    <ul>
                        <li><span>Full Stack Developer</span></li>
                        <li><span>FrontEnd ANGULAR/REACT</span></li>
                        <li><span>BackEnd JAVA</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="section-presentation-skills">
        <ng-container *ngFor="let typeItem of listType;let num = index">
            <ul appCreateElement="{{addON}}"  (deleteDataEmit)="deleteItem($event)" (dataEmit)="saveItem($event)" (eventEdit)="itemEdit($event)"  
            id="{{'SKILLS' + typeItem.name.toUpperCase()}}">
                <li class="section-presentation-skills-{{typeItem.name.toLowerCase()}}">
                    <h2>{{typeItem.name.toUpperCase()}}</h2>
                    <div class="{{typeItem.name.toLowerCase()+'Div'}}">
                        <fa-icon id="{{typeItem.name.toLowerCase()+'Icon'}}"
                        *ngIf="AcountAdmin===true" [icon]="iconEdit"></fa-icon>
                    </div>
                </li>
                <ng-container *ngFor="let item of [webList,frameList,otherList]">
                    <ng-container *ngFor="let names of item;let i = index">
                        <li id="{{cleanInputId(names.name.toLowerCase())}}" *ngIf="typeItem.name===names.type" class="relative {{'li-'+cleanInputId(names.type.toLowerCase())}}">
                            <input autocomplete="off" type="text" (saveInput)="saveEditItem($event)" appEditText='{{addON}}'  class="text-black text-center"
                            id="text-{{cleanInputId(names.name.toLowerCase())}}" value="{{cleanInput(names.name.toUpperCase())}}">
                            <!-- id="text-{{cleanInputId(names.name.toLowerCase())}}-{{i}}" value="{{cleanInput(names.name.toUpperCase())}}"> -->
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
        </ng-container>
    </div>

</section>
    