<section class="section-presentation">
    <!-- <div [ngStyle]="{'padding-top':mt + 'em'}" class="h-full flex flex-col justify-end">
        <div class="imgBriefcase  flex justify-center">
            <img class="h-full w-[80%]" src="../../../assets/backgroundPorf.jpg" alt="imagePerson">
        </div>
    </div> -->
    <div class="section-presentation-contain">
        <video autoplay loop poster="../../../assets/videoImgCode.png" class="section-presentation-contain__video">
            <source src="../../../assets/codeVideo.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
        <div class="section-presentation-contain__header">
            <figure class="section-presentation-contain__header-figure">
                <p>{{ '{' }}S</p>
                <span>:</span>
                <p>I{{ '}' }}</p>
            </figure>
            <div class="section-presentation-contain__header-description">
                <div class="section-presentation-contain__header-description-name">
                    <p> Stein </p>
                    <p> Ivan </p>
                </div>
                <div class="section-presentation-contain__header-description-occupation">
                    <!-- <p #occupationP >Full Stack Developer</p> -->
                    <p #occupationP ></p>
                    <span> | </span>
                </div>
            </div>
        </div>
    </div>
    <div class="section-presentation-skills">
        <!-- <div class=""> -->
            <h2 class="section-presentation-skills-web">WEB</h2>
            <h2 class="section-presentation-skills-frame">FRAMEWORKS</h2>
            
            <p>le</p>
            <p>%</p>
            <div>barra</div>
            <p>le</p>
            <p>%</p>
            <div>barra</div>
        <!-- </div> -->
    </div>

</section>
    